# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
ENV/

# Logs and temporary files
*.log
*.out
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/